[core]
    pager = cat
    editor = vim
    excludesfile = ~/.gitignore
[alias]
    a = add
    s = status -s
    st = status
    d = diff
    c = commit
    cm = commit
    ch = checkout
    mg = marge
    br = branch
    f  = fetch
    graph = log --graph --date=short --decorate=short --pretty=format:'<%Cblue%h> %Cgreen%cd %Creset%s'
    gr = log --graph --date=short --decorate=short --pretty=format:'<%Cblue%h> %Cgreen%cd %Creset%s'
[color]
    ui = true
    diff = true
[push]
    default = current
[credential]
    helper = cache
[fetch]
    prune = true
[merge]
    conflictstyle = diff3
