[submodule ".zsh.d/scripts/zsh-syntax-highlighting"]
	path = .zsh.d/scripts/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh.d/scripts/fzf"]
	path = .zsh.d/scripts/fzf
	url = https://github.com/junegunn/fzf.git
